/*    By Brandio    */
body {
    background-color: #ffffff;
}
a {
    color: #756de7;
    line-height: initial;
}
a:focus, a:hover {
    color: #6e66dd;
    text-decoration: none;
}
#footer ul.footer-menu li.dropdown{
    display: none !important;
}
.announcement-single .title {
    font-weight: 600;
}
div.header-lined .breadcrumb>.active {
    color: #756de7;
}
.label-info {
    background-color: #65d692;
}
.landing-page.ssl .validation-levels{
    padding: 0 !important;
}
.landing-page .navbar-default {
    background-color: #a7a7a7;
}
.tiles .tile:hover {
    background-color: #f3f3f7;
    cursor: pointer;
}
.tile .icon {
    top: 10px;
    right: 10px;
    font-size: 37px;
    line-height: 1;
    color: #ccc;
    opacity: 0.5;
}
.tile .stat {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 40px;
    text-align: center;
}
.tile .title {
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
    color: #3f3d59;
}
.navbar-main, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}
.support-button-holder .dropdown-menu{
    right: 0 !important;
    left: inherit !important;
    top: inherit !important;
}
.support-button-holder a.support-button {
    padding: 6px 22px !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
    -webkit-box-shadow: 0 4px 6px 0 rgba(92, 29, 192, 0.22) !important;
    -moz-box-shadow: 0 4px 6px 0 rgba(92, 29, 192, 0.22) !important;
    box-shadow: 0 4px 6px 0 rgba(92, 29, 192, 0.22) !important;
}
@media (max-width: 768px){
    .support-button-holder{
        display: none !important;
    }
}
ul.top-nav>li.support-button-holder:focus>a, 
ul.top-nav>li.support-button-holder:hover>a, 
ul.top-nav>li.support-button-holder>a:focus{
    background-color: #57c984;
    color: #ffffff;
}
.navbar-main .navbar-nav .dropdown-menu > .active > a, .navbar-main .navbar-nav .dropdown-menu > .active > a:focus, .navbar-main .navbar-nav .dropdown-menu > .active > a:hover, .navbar-main .navbar-nav .dropdown-menu > .open > a, .navbar-main .navbar-nav .dropdown-menu > .open > a:focus, .navbar-main .navbar-nav .dropdown-menu > .open > a:hover, .navbar-main .navbar-nav .dropdown-menu > li > a:focus, .navbar-main .navbar-nav .dropdown-menu > li > a:hover{
    color: #7b49e8;
    background-color: #f7f6f8;
}
#footer ul.footer-menu li .dropdown-menu{
    background-color: #ffffff;
    min-width: 160px;
    border: 0;
    padding: 12px 11px;
    border-radius: 12px;
    -webkit-box-shadow: 0 5px 35px 0 rgba(70, 187, 255, 0.23);
    -moz-box-shadow: 0 5px 35px 0 rgba(70, 187, 255, 0.23);
    box-shadow: 0 5px 35px 0 rgba(70, 187, 255, 0.23);
}
#footer ul.footer-menu li .dropdown-menu a{
    color: #7f888f;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    display: block;
    padding: 3px 11px;
    border-radius: 10px;
}
#footer ul.footer-menu li .dropdown-menu a:hover, #footer ul.footer-menu li .dropdown-menu a:focus, #footer ul.footer-menu .dropdown-menu li.active a{
    color: #6c84af;
    background-color: #f9fbff;
}
.fullpage .alert{
    border-radius: 10px;
    padding: 15px 30px;
}
.fullpage .progress {
    margin-top: 20px;
    background-color: #f0f6fc;
    border-radius: 50px;
    -webkit-box-shadow: inset 0 1px 2px rgb(219, 234, 246);
    box-shadow: inset 0 1px 2px rgb(219, 234, 246);
}
.fullpage .form-control-feedback {
    right: 0px;
    height: 34px;
    line-height: 34px;
}
.fullpage .has-error .form-control-feedback {
    color: #f73b38;
}
.fullpage .progress-bar-danger {
    background-color: #f73b38;
}
.fullpage .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}
#page-head{
    background-color: #756de7;
}
.alert{
    border-radius: 20px;
    border: 0;
}
.alert-danger {
    color: #ff5451;
    background-color: #f7ecec;
}
.btn-link{
    color: #abb4bc;
    font-size: 14px;
    text-decoration: none;
}
.btn-link:hover,.btn-link:focus{
    color: #8e97a0;
}
#header-holder {
    padding-top: 0 !important;
}
section#header {
    background: rgba(255, 255, 255, 0.13);
    position: relative;
}
section#header .logo-text img{
    margin-top: -5px;
}
section#main-menu {
    background-color: transparent;
}
.logo-holder{
    padding-top: 0 !important;
}
#main-body-holder{
    background-color: #fcfeff;
}
section#main-body {
    min-height: inherit;
    margin: inherit !important
}
.navbar-default .navbar-nav>li>a {
    margin-top: 11px;
    margin-bottom: 11px;
}
@media (max-width: 768px){
    .navbar-default .navbar-nav>li>a {
        margin-top: 0;
        margin-bottom: 0;
    }
}
.navbar-default .navbar-nav>li>a.support-button {
    margin-bottom: 11px !important;
}
.main-content {
    min-height: inherit;
}
.toparea-space{
    margin-bottom: 290px;
}

#mini-header .menu-holder {
    padding: 32px 50px !important;
}
body.fullpage > p{
    text-align: center;
    position: fixed;
    right: 10px;
    bottom: 3px;
    opacity: 0.3;
    background-color: #ffffff;
    border-radius: 50px;
    padding: 5px 13px;
    font-size: 11px;
    font-weight: 700;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background-color: transparent;
    color: #dbc2fe;
}
@media (max-width: 767px){
    .navbar-nav .open .dropdown-menu {
        background-color: #fff;
        text-align: center;
    }
    .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
        padding: 5px 25px 5px 25px;
    }
}
.navbar-main {
    background-color: #ffffff;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
    background-color: transparent;
}

ul.top-nav>li.primary-action>a.btn {
    background-color: #8346e5;
    -webkit-box-shadow: 0 4px 6px 0 rgba(92, 29, 192, 0.22);
    box-shadow: 0 4px 6px 0 rgba(92, 29, 192, 0.22);
    text-transform: capitalize;
    font-weight: 700;
}
ul.top-nav>li.primary-action>a.btn:hover,
ul.top-nav>li.primary-action>a.btn:focus {
    background-color: #7b45d1;
}
.inner-header ul.top-nav>li.primary-action>a.btn {
    background-color: #6b63d2;
    -webkit-box-shadow: 0 4px 6px 0 rgba(86, 80, 171, 0.19);
    box-shadow: 0 4px 6px 0 rgba(86, 80, 171, 0.19);
    text-transform: capitalize;
    font-weight: 700;
}
.inner-header ul.top-nav>li.primary-action>a.btn:hover,
.inner-header ul.top-nav>li.primary-action>a.btn:focus {
    background-color: #5a52bb;
}
ul.top-nav>li.primary-action {
    border-left: solid 1px #8346e5;
}
.inner-header ul.top-nav>li.primary-action {
    border-left: solid 1px #756de0;
}
ul.top-nav>li>a {
    color: #ffffff;
    font-size: 13px;
}
ul.top-nav>li>a:hover,
ul.top-nav>li>a:focus {
    color: rgba(255, 255, 255, 0.69);
}
.navbar-main li.account {
    background-color: transparent;
}
ul.top-nav {
    margin-top: 5px;
}
.contact-form-holder{
    width: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.contact-form-holder .control-label{
    text-align: left;
    font-weight: inherit;
    margin-bottom: 4px;
}

.btn-default{
    color: #ffffff;
    background-color: #756de7;
    border:0;
    font-size: 12px;
    font-weight: 600;
}
.btn-default:hover,.btn-default:focus{
    color: #ffffff;
    background-color: #6a62db;
    border:0;
}
.btn{
    border: 0;
    border-radius: 8px;
    outline: 0;
}
.btn-primary{
    color: #ffffff;
    border:0;
    background-color: #756de7;
    font-weight: 600;
    border-radius: 10px !important;
}
.btn-primary:hover,.btn-primary:focus{
    color: #ffffff;
    border:0;
    background-color: #6961d9;
}
.client-home-panels .panel>.panel-heading .panel-title .btn:hover {
    color: #fff;
}
.client-home-panels .panel>.panel-heading .panel-title .btn {
    color: #fff;
    border: 0;
}
.client-home-panels .panel>.panel-body p {
    padding: 10px 15px;
    color: #7a7896;
    font-weight: 300;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.panel {
    border-radius: 10px;
}
.panel-sidebar{
    border-color: #e6e5f1;
}
.panel-sidebar > .panel-heading{
    background-color: #f6f6f9;
    color: #756de7;
    border-color: #e6e5f1;
}
.panel-sidebar .panel-title {
    color: #756de7;
    font-weight: 400;
    font-family: inherit;
}
.panel-sidebar .panel-title .fa{
    color: #756de7;
}
.panel-heading {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#ticketReply{
    border-radius: 13px;
}
.panel-collapsable{
    border: 0;
}
.panel-collapsable>.panel-heading {
    border-radius: 13px;
}
.panel-info>.panel-heading {
    color: #756de7;
    background-color: #f6f6f9;
    border-color: #dddde4;
}
.ticket-reply .user i {
    color: #3f3d59;
}
.ticket-reply .user .name {
    color: #3f3d59;
}
.ticket-reply .user .type {
    color: #3f3d59;
}
.ticket-details-children .label{
    border-radius: 10px;
}
.panel>.list-group:last-child .list-group-item:last-child, .panel>.panel-collapse>.list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
div[class*="panel-accent"] > .panel-heading .panel-title{
    color: #3f3d59;
}
.panel-footer {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.list-group-item {
    border-color: #e6e5f1;
    color: #9a9aa5 !important;
}
a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    color: #868690 !important;
    background-color: #fafafd;
}
.panel-sidebar a.list-group-item.active, .panel-sidebar a.list-group-item.active:focus, .panel-sidebar a.list-group-item.active:hover {
    background-color: #f6f6f9;
    border-color: #e6e5f1;
}
div.header-lined h1{
    color: #3f3d59;
    font-size: 19px;
    border: 0;
    margin-bottom: 20px;
    font-weight: 500;
}
div.header-lined small{
    color: #4a5761;
    font-size: 15px;
}
.breadcrumb{
    background-color: #f3f7fc;
    border-radius: 50px !important;
    /*border:1px solid #c6ddf8;*/
}

.h2, h2 {
    font-size: 24px;
    color: #3f3d59;
}

blockquote {
    padding: 5px 10px;
    margin: 0 0 20px;
    border-left: 0px solid #eee;
    color: #697b91;
    font-size: 17px;
}
label{
    color: #3f3d59;
}
.label-default{
    border-radius: 10px;
    background-color: #00d85f;
}
.label-warning{
    background-color: #fba206;
    border-radius: 5px;
}
.label-warning[href]:focus, .label-warning[href]:hover{
    background-color: #ffb83b;
}
.main-content p{
    color: #828e98;
    font-size: 15px;
    line-height: 22px;
}
.form-control{
    width: 100%;
    border-radius: 8px !important;
    text-align: left;
    background-color: #f0f4fd;
    border: 0px solid #f3f8fb;
    font-size: 16px;
    color: #526489;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    -webkit-transition: all 0.3s ease 0.0s;
    transition: all 0.3s ease 0.0s;
}
.form-control:hover,.form-control:focus{
    background-color: #ebeff8;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
#order-standard_cart .view-cart-items-header{
    background-color: #aeaeb9 !important;
}
#order-standard_cart .view-cart-items{
    border-color: #aeaeb9 !important;
}

#order-standard_cart .domain-selection-options .option{
    color: #8da3b9 !important;
    background-color: #ffffff !important;
    border:1px solid #c6ddf8;
}
#order-standard_cart .domain-selection-options .option-selected{
    background-color: #eaeef2 !important;
    border-color: #c6ddf8 !important;
    border:1px solid #c6ddf8;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border-color: #e6e5f1;
    border-bottom: 0;
    color: #7a7a84;
    background-color: #fff !important;
}
#order-standard_cart .view-cart-tabs .tab-content{
    background-color: #fff !important;
    color: #898992 !important;
    
}
.nav-tabs{
    border-bottom:1px solid #e6e5f1 !important;
}
#applyPromo button[name="validatepromo"]{
    background-color: #aeaeb9;
    color: #ffffff !important;
}
#order-standard_cart .field, #order-standard_cart .form-control{
    border: 1px solid #e6e5f1 !important;
    color: #898992 !important;
}

#order-standard_cart .order-summary {
    background-color: #756de7 !important;
    /*border-bottom: 3px solid #756de7 !important;*/
    border: 1px solid #756de7 !important;
}
#order-standard_cart .summary-container{
    background-color: #ffffff !important;
    color: #3f3d59 !important;
}
#order-standard_cart .summary-container div{
    text-align: center;
}
#order-standard_cart .order-summary .subtotal{
    border-bottom:1px solid #e6e5f1 !important;
}
#order-standard_cart .order-summary .total-due-today-padded span{
    text-align: center !important;
}
#order-standard_cart .empty-cart .btn{
    background-color: #756de7 !important;
}
#order-standard_cart .view-cart-items .item span {
    color: #7e7c9b;
}
#order-standard_cart .view-cart-items .item-title {
    color: #756de7 !important;
}

#order-standard_cart .product-info ul{
    padding-left: 13px;
    margin: 0;
}
#order-standard_cart .product-info ul li{
    margin-top: 3px;
    margin-bottom: 3px;
    color: #7a92a0;
}
#order-standard_cart .btn-remove-from-cart {
    color: #756de7 !important;
}
#order-standard_cart .btn-remove-from-cart:hover,#order-standard_cart .btn-remove-from-cart:focus {
    color: #ed1f1f !important;
}
.btn-success {
    color: #fff;
    background-color: #79d156;
    border:0;
}

.feature-box.active .feature-button{
    height: 58px !important;
}
.domain-search-holder ul input{
    position: inherit !important;
    right: 0 !important;
    top: 0 !important;
}
.domain-search-holder ul{
    position: absolute;
    right: 10px;
    top: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}
@media (max-width: 768px) {
    .domain-search-holder ul {
        position: relative;
        right: 0;
        top: 20px;
    }
}
.domain-search-holder ul li{
    display: inline-block;
}
.domain-search-holder ul li .transfer{
    display: inline-block;
    background-color: #00d85f !important;
    margin-left: 5px;
}
.domain-search-holder ul li .transfer:hover,
.domain-search-holder ul li .transfer:focus{
    background-color: #04c75a !important;
}
.captcha-holder{
    margin-top: 30px;
}
#default-captcha-domainchecker p{
    font-size: 13px;
    color: #592fab;
}
.h3, h3{
    font-size: 22px;
    font-weight: inherit;
    color: #524f71;
}
.alert-info {
    color: #286093;
    background-color: #d7e9ff;
    border-color: #cbdeef;
}
.popover{
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.13);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.13);
    border:0;
    border-radius: 0;
}
.modal-content{
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.13);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.13);
    border:0;
    border-radius: 0;
}
.modal-content .modal-body {
    font-size: 16px;
    color: #869eac;
}
.modal-content .modal-title{
    color: #756de7;
}
.modal-content .modal-title .fa{
    color: #ed1f1f;
}
.popover > .arrow{
    border:0;
}
.popover-content {
    padding: 22px 22px;
}
.popover input.form-control{
    border: 0px solid #dbe4ec;
    font-size: 14px;
    padding: 5px 20px;
}
.login-popover .form-group {
    margin-bottom: 13px;
}
.login-popover .input-group input[type="submit"]{
    font-size: 16px;
}
.login-popover .input-group input:hover,
.login-popover .input-group input:focus{
    -webkit-box-shadow: 0 3px 8px rgba(191, 201, 206, 0.0);
    -moz-box-shadow: 0 3px 8px rgba(191, 201, 206, 0.0);
    box-shadow: 0 3px 8px rgba(191, 201, 206, 0.0);
}
.login-popover .input-group:hover input{
    -webkit-box-shadow: 0 3px 8px rgba(191, 201, 206, 0.52);
    -moz-box-shadow: 0 3px 8px rgba(191, 201, 206, 0.52);
    box-shadow: 0 3px 8px rgba(191, 201, 206, 0.52);
}
.login-form div[class^="icheckbox"] .iCheck-helper{
    display: none;
}
.login-form label.checkbox-inline{
    padding-left: 0 !important;
}
.login-form div[class^="icheckbox"]{
    display: inherit !important;
    vertical-align: inherit !important;
    margin: inherit !important;
    padding: inherit !important;
    width: inherit !important;
    height: inherit !important;
    background: inherit !important;
    border: inherit !important;
    cursor: inherit !important;
}
.login-form div[class^="icheckbox"] input{
    position: inherit !important;
    top: inherit !important;
    left: inherit !important;
    display: inherit !important;
    width: inherit !important;
    height: inherit !important;
    margin: inherit !important;
    padding: inherit !important;
    background: inherit !important;
    border: inherit !important;
    opacity: inherit !important;
}
.domain-form-holder{
    max-width: inherit !important;
    width: 70% !important;
}
@media (max-width: 768px) {
    .domain-form-holder{
        max-width: inherit !important;
        width: 100% !important;
    }
}
.domain-form-holder .btn-go-holder ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.domain-form-holder .btn-go-holder ul li{
    display: inline-block;
    width: 48%;
    max-width: 48%;
}
.home-kb-search .form-control {
    background-color: #f0f4fd;
    color: #526489;
    border: 0 !important;
}
.home-kb-search i {
    color: #756de7;
}
.tiles .tile {
    padding: inherit;
    background-color: inherit;
    border-right: 0;
    padding-left: 0;
    padding-right: 0;
}
.tiles .tile .tile-content{
    padding: 12px 20px;
    background-color: #f8f8f8;
    position: relative;
    margin-right: 10px;
    border-radius: 6px;
}
.tiles .tile:last-child .tile-content{
    margin-right: 0;
}

/**
 * -------------------------
 * Panel Accents
 * -------------------------
 */

.panel.panel-accent-gold {
    border-top: 3px solid #f0ad4e;
}
.panel.panel-accent-green {
    border-top: 3px solid #9ce337;
}
.panel.panel-accent-red {
    border-top: 3px solid #d9534f;
}
.panel.panel-accent-blue {
    border-top: 3px solid #0397ff;
}
.panel.panel-accent-orange {
    border-top: 3px solid #f39c12;
}
.panel.panel-accent-pink {
    border-top: 3px solid #e875c6;
}
.panel.panel-accent-purple {
    border-top: 3px solid #756de7;
}
.panel.panel-accent-lime {
    border-top: 3px solid #8cbf26;
}
.panel.panel-accent-magenta {
    border-top: 3px solid #ff0097;
}
.panel.panel-accent-teal {
    border-top: 3px solid #00aba9;
}
.panel.panel-accent-turquoise {
    border-top: 3px solid #1abc9c;
}
.panel.panel-accent-emerald {
    border-top: 3px solid #2ecc71;
}
.panel.panel-accent-amethyst {
    border-top: 3px solid #9b59b6;
}
.panel.panel-accent-wet-asphalt {
    border-top: 3px solid #34495e;
}
.panel.panel-accent-midnight-blue {
    border-top: 3px solid #2c3e50;
}
.panel.panel-accent-sun-flower {
    border-top: 3px solid #f1c40f;
}
.panel.panel-accent-pomegranate {
    border-top: 3px solid #c0392b;
}
.panel.panel-accent-silver {
    border-top: 3px solid #bdc3c7;
}
.panel.panel-accent-asbestos {
    border-top: 3px solid #7f8c8d;
}

/**
 * -------------------------
 * Background Colors
 * -------------------------
 */

.bg-color-gold {
    background-color: #f0ad4e;
}
.btn.bg-color-gold:hover,
.btn.bg-color-gold:focus {
    background-color: #e6a74c;
}
.bg-color-green {
    background-color: #9ce337;
}
.btn.bg-color-green:hover,
.btn.bg-color-green:focus {
    background-color: #8fd132;
}
.bg-color-red {
    background-color: #d9534f;
}
.btn.bg-color-red:hover,
.btn.bg-color-red:focus {
    background-color: #c74945;
}
.bg-color-blue {
    background-color: #0397ff;
}
.btn.bg-color-blue:hover,
.btn.bg-color-blue:focus {
    background-color: #0089ea;
}
.bg-color-orange {
    background-color: #f39c12;
}
.btn.bg-color-orange:hover,
.btn.bg-color-orange:focus {
    background-color: #e3910e;
}
.bg-color-pink {
    background-color: #e875c6;
}
.btn.bg-color-pink:hover,
.btn.bg-color-pink:focus {
    background-color: #db6dba;
}
.bg-color-purple {
    background-color: #7774e7;
}
.btn.bg-color-purple:hover,
.btn.bg-color-purple:focus {
    background-color: #6e6bd3;
}
.bg-color-lime {
    background-color: #8cbf26;
}
.btn.bg-color-lime:hover,
.btn.bg-color-lime:focus {
    background-color: #81b123;
}
.bg-color-magenta {
    background-color: #ff0097;
}
.btn.bg-color-magenta:hover,
.btn.bg-color-magenta:focus {
    background-color: #e6048a;
}
.bg-color-teal {
    background-color: #00aba9;
}
.btn.bg-color-teal:hover,
.btn.bg-color-teal:focus {
    background-color: #029f9d;
}
.bg-color-turquoise {
    background-color: #1abc9c;
}
.btn.bg-color-turquoise:hover,
.btn.bg-color-turquoise:focus {
    background-color: #18b192;
}
.bg-color-emerald {
    background-color: #2ecc71;
}
.btn.bg-color-emerald:hover,
.btn.bg-color-emerald:focus {
    background-color: #27bc66;
}
.bg-color-amethyst {
    background-color: #9b59b6;
}
.btn.bg-color-amethyst:hover,
.btn.bg-color-amethyst:focus {
    background-color: #8c4ea5;
}
.bg-color-wet-asphalt {
    background-color: #34495e;
}
.btn.bg-color-wet-asphalt:hover,
.btn.bg-color-wet-asphalt:focus {
    background-color: #2d4155;
}
.bg-color-midnight-blue {
    background-color: #2c3e50;
}
.btn.bg-color-midnight-blue:hover,
.btn.bg-color-midnight-blue:focus {
    background-color: #233140;
}
.bg-color-sun-flower {
    background-color: #f1c40f;
}
.btn.bg-color-flower:hover,
.btn.bg-color-flower:focus {
    background-color: #e6bc12;
}
.bg-color-pomegranate {
    background-color: #c0392b;
}
.btn.bg-color-pomegranate:hover,
.btn.bg-color-pomegranate:focus {
    background-color: #af3428;
}
.bg-color-silver {
    background-color: #bdc3c7;
}
.btn.bg-color-silver:hover,
.btn.bg-color-silver:focus {
    background-color: #adb4b9;
}
.bg-color-asbestos {
    background-color: #7f8c8d;
}
.btn.bg-color-asbestos:hover,
.btn.bg-color-asbestos:focus {
    background-color: #727d7e;
}
.alert h2{
    margin-top: 0;
}
.affiliate-stat {
    border-radius: 7px;
    text-align: left;
    font-weight: 300;
    color: #4f788c;
}
.affiliate-stat i {
    font-size: 2em;
    margin-right: 20px;
    color: #64757d;
}
.affiliate-stat span {
    font-size: 20px;
    font-weight: 700;
    color: #2e5779;
}
.alert-warning {
    background-color: #fdec91;
}
.alert-success {
    background-color: #cbf3bb;
}
.affiliate-referral-link span {
    padding: 5px 20px;
    font-size: 19px;
    border-radius: 40px;
    border: 0px solid #ccc;
    background-color: #f5f6f7;
    color: #756de7;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #e6ecf1;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 1px solid #e6e5f1;
    color: #5a6367;
}
.dataTables_wrapper .dataTables_info {
    padding: 9px 10px 11px;
    background-color: #756de7;
}
table.table-list thead th {
    background-color: #f0f3f9;
    border-bottom: 1px solid #c9dff3;
    color: #898f92;
}
.table-list>tbody>tr:hover>td {
    background-color: #f0f3f9;
}
.dataTables_wrapper {
    border: 1px #c9dff3 solid;
}
#top-nav a.quick-nav {
    color: #597286;
    opacity: 0.9;
}
#top-nav .nav{
    font-size: 13px;
    font-weight: 600;
}
.ticket-reply .rating-done .rated {
    font-family: inherit;
}

.captchaimage img{
    margin-right: 5px;
    margin-left: auto;
}

.admin-masquerade-notice {
    font-family: inherit;
}

.admin-message{
    background-color: #756de7;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;
}
.admin-message .admin-masquerade-notice {
    margin: 0;
    padding: 0;
    max-width: inherit;
    font-family: inherit;
    text-align: left;
    font-size: 0.8em;
}
.admin-message .admin-masquerade-notice a{
    color:#5049b5;
    text-decoration: none;
}
.admin-message .admin-masquerade-notice a:hover{
    color:#3e389a;
}

.domainchecker-homepage-captcha #google-recaptcha-domainchecker {
    margin-bottom: inherit !important;
}

#default-captcha-domainchecker {
    font-size: 18px;
    color: #526489;
}

#default-captcha-domainchecker #inputCaptcha {
    margin-left: 5px;
    text-align: center;
    border-radius: 50px;
    background-color: #f0f4fd;
    padding: 10px 10px;
    font-size: 15px;
    width: inherit !important;
    min-width: inherit !important;
    max-width: inherit !important;
    outline: 0;
    color: #526489;
}

#order-modern h1{
    color: #c2cad2;
    font-size: 25px;
    font-weight: 400;
}

#order-modern table.cart th, #order-modern table.datatable th a, #order-modern table.datatable th a:visited {
    color: #ffffff;
}

#order-modern table.cart th{
    background-color: #1f8ded !important;
    background-color: #b0bfcc !important;
    border-color: #c9dff3;
}
#order-modern table.cart td {
    background-color: #FFF;
    border-bottom: 0px solid #EBEBEB !important;
}
#order-modern table.cart tr.subtotal td {
    border-bottom: 0px solid #EBEBEB !important;
    background-color: #f3f7fc !important;
    color: #4f5762 !important;
    border-radius: 5px;
}
#order-modern table.cart tr.total td {
    background-color: #756de7 !important;
    color: #ffffff !important;
    border-radius: 5px;
}
#order-modern .cartwarningbox {
    border:0px !important;
    background-color: #f3f7fc !important;
    color: #4c4b5c !important;
    border-radius: 5px;
}

div#order-hostio_cart {
	margin:0 0 0px 0;
}
#order-hostio_cart h3{
    font-size: 22px !important;
    font-weight: inherit !important;
    color: #403c71 !important;
}
@media (max-width: 992px) {
    #mainNav .dropdown-menu {
        position: relative !important;
        display: block !important;
        width: 100% !important;
        text-align: center !important;
        top: 0 !important;
        margin-bottom: 18px !important;
    }
    .navbar-default .navbar-nav > li > a {
        font-size: 13px !important;
        text-align: center !important;
        padding: 12px 10px !important;
    }
    .navbar-default .navbar-nav > li > a.chat-button{
        display: inline-block;
        width: 100%;
        margin: 0 !important;
        margin-bottom: 13px !important;
        padding: 8px !important;
    }
}

.pricing-details ul[id^="productDescription"]{
    padding: 0;
    margin: 0;
}
.pricing-details ul[id^="productDescription"] li[id^="product"]::before{
    display: none;
}
#pricing {
    padding-top: 0 !important;
    background-color: transparent !important;
}
#pricing .pricing-box .pricing-title:after {
    top: 0px !important;
}
#pricing .pricing-box.recommended .pricing-box-body .pricing-details:after {
    left: -9px !important;
}
#order-hostify_cart .txt-title{
    margin-bottom: 0px;
}
#order-hostify_cart .txt-title h3{
    color: #3f3d59;
    font-weight: 600;
    font-size: 21px;
}
#order-hostify_cart .txt-title h5{
    color: #5c5988;
}
.pricing-box .pricing-content .pricing-details ul li {
    padding: 5px 5px 5px 30px !important;
    width: 100%;
    text-align: left;
}
.pricing-box .pricing-content .pricing-details ul ul {
    margin-bottom: 20px !important;
}
#order-hostify_cart .price-table-container ul li[id^="product"] {
    padding: 30px 4px 6px 4px !important;
}
.domain-checker-container {
    background: none;
    background-color: #756de7;
}
.domain-pricing .tld-pricing-header .col-sm-4, .domain-pricing .tld-pricing-header .col-xs-4 {
    border-bottom: 6px solid #5a54b7;
}
.domain-pricing .tld-pricing-header div:nth-child(odd) {
    border-color: #756de7;
}
.domain-promo-box {
    background-color: #fcfcfd;
    border: 1px solid #e0e0e8;
}
.domain-promo-box i{
    color: #524f71;
    font-size: 33px;
}
.domain-promo-box p {
    font-size: 13px;
    font-weight: 300;
    color: #7a7896;
}
.domain-pricing .tld-row.highlighted {
    background: #f4f4f7;
}
.domain-pricing .two-row-center {
    border-right: 2px solid #e6e5f1;
}
.login-popover input[type=checkbox], .login-popover input[type=radio] {
    margin: 0;
}
.invoice-container {
    border: 1px solid #e6e5f1;
}
.invoice-container h2{
    color: #756de7;
}
.invoice-container h3{
    color: #756de7;
}
.invoice-container .panel-default {
    border-color: #e6e5f1;
}
.invoice-container .panel-default>.panel-heading {
    color: #756de7;
    background-color: #f6f6f9;
    border-color: #e6e5f1;
}
.invoice-container td.total-row {
    background-color: #f6f6f9;
}
.payment-btn-container input{
    white-space: normal;
    border: 0;
    border-radius: 200px;
    padding: 5px 10px;
    color: #ffffff;
    background-color: #756de7;
    font-size: 16px;
    outline: 0;
    margin-bottom: 10px;
}
.payment-btn-container input:hover,
.payment-btn-container input:focus{
    background-color: #605ab5;
}